{% extends "base.html"  %}

{% block title %}blogs{% endblock %}

{% block page_content %}

<header class="jumbotron subhead">
  <div class="container">
    <h1>
      <!--题目：-->一个人？一座城！
    </h1>
    <p>
      <small><!--副标题：-->the first article</small>
    </p>
    <a class="btn btn-primary" href="/article">
      回到列表
    </a>
  </div>
</header>

<hr />
<!--正文-->
  <p>
  说起“一个人，一座城”这六个字，也许很多人会想到了艾弗森和费城，。但是，今天要说的这座城不是费城，而是英格兰西北部的一个港口城市-利物浦。那么，问题来了，说到利物浦这座城，你又会想到了那个人呢？可能喜欢音乐的人们会想到了让他们欣喜若狂的披头士吧，但对于我这个球迷来说，想到的只有也只能史蒂文•杰拉德了吧。
        当杰拉德还是个孩子的时候就已经是一名利物浦死忠了，他对利物浦的爱无庸置疑，如果非要给这份爱加上一份期限的话，那估计他希望的就不仅仅是一万年了。正所谓冥冥之中自有安排，就像那些爱情故事里面的主人公对女主角的不懈追求一样，利物浦似乎感受到了杰拉德那深沉的爱并做出了回应，在他8岁那年被选中进入了那个曾经培养出过福勒，麦克马纳曼和欧文这些大牌球员的利物浦青训营。之后，由于杰拉德的过人天赋、勤奋训练，以及利物浦青训营出色的训练体系，杰拉德已经成功地引起了当时的利物浦主帅霍利尔的注意了。作为杰拉德的伯乐，霍利尔曾多次称赞了杰拉德并且在1998年将年仅18岁的杰拉德提拔到了利物浦的一线队。尽管已经是一线队的一员，但由于当时利物浦队的中场人才济济，他并没有捞到出场的时间，只能坐在替补席上看着和自己一同从青训营里出道的队友在球场上飞奔。直到1998年的11月，在利物浦对阵布莱克本的比赛中，一脸稚气的杰拉德替补上场，又有谁会想到这个愣头青会成为利物浦的一个传奇呢？
       回顾杰拉德的绿茵生涯，充斥着太多的令人难忘的时刻了。
  </p>
  <p>
       还记得2004年，杰拉德在响彻You Will Never Walk Alone的安菲尔德轰出的那记石破天惊的世界波，不仅将利物浦送进了当年欧冠的16强，而且后面发生了什么，大家都懂的…而2005年，杰拉德和他的利物浦将士们更是上演了一出精彩的逆转好戏，半场落后当时巨星云集的AC米兰3球，最后连追3球并成功夺冠，人称“伊斯坦布尔奇迹”！05/06赛季的足总杯决赛，又是杰拉德在球队落后的情况下，在伤停补时阶段拖着已经抽筋的腿射出了一记超级远射扳平了比分，最终点球大战中击败了西汉姆成功捧杯。2009年，安菲尔德的比分牌上出现了利物浦4，皇家马德里0这么一组数字，这场比赛中杰拉德梅开二度，成为击沉银河战舰的制胜鱼雷。这一幕幕让人荡气回肠的画面，只要杰拉德在场上，就能时常上演。
       如果说成功是一种难忘，那么失败的话就是一种刻骨铭心。
  </p>
  <p>
       同样在2004年，杰拉德代表了英格兰出战法国队，却在比赛中回传失误，给法国队完成了一次大逆转。这让他受到了媒体猛烈的炮轰。记得在杂志上看过这样一句话：“一个人不会被雷劈中两次。”，然而现实却不这么说，05/06赛季的利物浦对阵阿森纳的比赛中，杰拉德又在83分钟回传失误，让亨利杀死了比赛。而在13/14赛季，杰拉德距离他最渴望的英超联赛冠军似乎已经触手可得了，可他在对阵切尔西这场关键比赛中又是一个滑倒+回传失误，一下子又让冠军从手边溜走了。在这个夜晚，可以知道的是杰拉德会很难受，但没有人会知道他有多难受。
       这些的难忘的经历，无论是对于杰拉德还是利物浦来说都是一笔财富，因为这些都是他与利物浦这座城之间的羁绊，更是一种可以和其他豪门球队给出的优厚资薪、冠军诱惑抗衡的筹码。正如一些在外的上班族一样，尽管外面的饭菜可能很好吃，但还是比不上家人煮的简简单单的一顿饭。相比于金元和荣誉，杰拉德更愿意在利物浦享受球迷们一份简简单单的爱，享受安菲尔德球场那熟悉的You Will Never Walk Alone，享受穿上利物浦球衣的那90分钟。
      上天对杰拉德是公平的，给了他托雷斯，苏亚雷斯，阿隆索这样的队友，但上天对他又是不公平的，杰拉德却没能同时拥有过他们；上天给了他在伊斯坦布尔创造了一项前无古人的记录，却在17年里没能给他一个联赛冠军；上天给了他无解的远射、精准的长传、跑不完的体力，却让他数次倒在了C罗的老奶奶都能做到的回传中。但无论如何，上天让杰拉德和利物浦相遇，那就足够了。
       从一个人到一座城，杰拉德用了17年。或许应该这样说，他早就在某个人们不注意的瞬间完成了这个转变，只不过他一直就在我们身边，太近了看不清，以至于只有当他离开我们的时候，才猛地发现他已经是一座城了。
  </p>
<hr />

{% endblock %}
